/* Comentarios */

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@700&display=swap');


html{
--color-1:#07020D;
--color-2:#FFFFFF;
--color-3:#F1E9DB;
--color-4:#5DB7DE;
--color-5:#A39B8B;
--color-6:#716A5C;


}

body {

text-align: center;
background-color:var(--color-3);
color: var(--color-1);
font-family:'Montserrat', sans-serif;
margin: 0%;

}

h1 {
font-family:'Montserrat', sans-serif;
font-weight: 400;
font-size: 38px;


}

h2{
font-size: 20px;
font-weight: 600;
margin: 0;

}

h3{
font-size: 18px;
font-weight: 400 ;
margin: 0;
}

header{
background-color: var(--color-1);
padding: 30px 0;
}

footer{
color: var(--color-3);
background-color:var(--color-6) ;
padding: 30px 0;
}

ul{
list-style:none ;
}

li{
display: inline-block;
margin: 0 15px;
}

a{
text-decoration: none;
}

button{
background: #FFFFFF;
border: 2px solid #5DB7DE;
border-radius: 15px ;
width: 243px;
height: 72px;
font-size: 18px;
margin: 8px;

}
article{
width: 247px;
flex-direction: column;
margin: 25px;
gap: 8px;
}

a:link{
color: var(--color-3);

}

a:visited{
color: var(--color-3);
}

a:hover{
color: var(--color-4);
}

#bienvenida {
    width: 850px;
    height: 550px;
    margin: 0 auto;
    padding-top: 180px;
    background-color: var(--color-marron-100);
    background-image: url('../img/bienvenida_sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#bienvenida > h1 {
    color: var(--color-base);
    background-color: hsla(267, 73%, 3%, 0.493);
    padding: 30px 0;
}

#novedades {
width: 1250px;
margin:  0 auto;
}

.contenedor-novedades {
display: flex;
flex-wrap: wrap;
gap: 32px;
justify-content: space-between;

}